# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
*.venv
venv/
env/

# Database
*.db

# Node
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
